postgres :
  image : postgres:9.4.5
  container_name : forest_express_sequelize_postgres
  ports :
    - "5436:5432"
  environment:
    - POSTGRES_DB=forest-express-sequelize-test
    - POSTGRES_USER=forest
    - POSTGRES_PASSWORD=secret

mysql_min:
  image: mysql:5.6
  container_name: forest_express_sequelize_mysql_min
  environment:
    MYSQL_ROOT_PASSWORD: secret
    MYSQL_DATABASE: forest-express-sequelize-test
    MYSQL_USER: forest
    MYSQL_PASSWORD: secret
  ports:
    - "127.0.0.1:8998:3306"

mysql_max:
  image: mysql:8.0
  container_name: forest_express_sequelize_mysql_max
  environment:
    MYSQL_ROOT_PASSWORD: secret
    MYSQL_DATABASE: forest-express-sequelize-test
    MYSQL_USER: forest
    MYSQL_PASSWORD: secret
  ports:
    - "127.0.0.1:8999:3306"
